<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	{{ if .Description }}
	<meta name="description" content="{{ .Description }}">
	{{ end }}
	<link rel="icon" type="image/png" href="{{ "/images/icon.png" | relURL }}">

	<title>
		{{ $url := replace .Permalink .Site.BaseURL "" }}
		{{ if eq $url "/" }}
			{{ .Site.Title }} - {{ .Site.Params.Subtitle }}
		{{ else }}
			{{ .Site.Title }} - {{ .Title }}
		{{ end }}
	</title>

	<link rel="canonical" href="{{ .Permalink }}">

	{{ partial "resources.html" . }}
</head>
<body>

	<div class="notice">
		<div class="wrapper">
			<p>
				<strong>Beep isn't active anymore. 😢</strong>
			</p>
			<p>
				Nice to see you here! We are Sudharshan, Daniel and Ambrose from <a href="https://makerforce.io">MakerForce</a> and we've stopped working on Beep. It was a great idea that we didn't get to turn into a working product within constraints, but we have learned a lot from this experience. If you're interested in finding out more, drop <a href="mailto:sayhi@beepvoice.app">us an email</a>.
			</p>
		</div>
	</div>

	{{ partial "badbrowser.html" . }}

