<nav class="navfooter">
	<div class="icon">
		<img src="{{ "/images/appicon.svg" | relURL }}">
	</div>
	<div class="groups">
		<div class="group">
			<a href="{{ "/get" | relURL }}">
				<div class="link">Get the app</div>
			</a>
			<a href="{{ "/account" | relURL }}">
				<div class="link">Manage account</div>
			</a>
			<a href="{{ "/help" | relURL }}">
				<div class="link">Help center</div>
			</a>
		</div>
		<div class="group">
			<a href="{{ "/enterprise" | relURL }}">
				<div class="title">
					Beep for Enterprise
				</div>
			</a>
			<a href="{{ "/enterprise#benefits" | relURL }}">
				<div class="link">Benefits</div>
			</a>
			<a href="{{ "/enterprise#pricing" | relURL }}">
				<div class="link">Pricing</div>
			</a>
			<a href="{{ "/enterprise#get" | relURL }}">
				<div class="link">Get started</div>
			</a>
			<a href="{{ "/enterprise#api" | relURL }}">
				<div class="link">API</div>
			</a>
		</div>
		<div class="group">
			<div class="title">
				Social
			</div>
			<a href="{{ "https://twitter.com/beepvoice" | relURL }}">
				<div class="link">Twitter</div>
			</a>
			<a href="{{ "https://instagram.com/beepvoice" | relURL }}">
				<div class="link">Instagram</div>
			</a>
			<a href="{{ "/contact" | relURL }}">
				<div class="link">Contact us</div>
			</a>
		</div>
		<div class="group">
			<div class="group">
				<div class="title">
					Company
				</div>
				<a href="{{ "/company" | relURL }}">
					<div class="link">About us</div>
				</a>
			</div>
			<div class="group">
				<div class="title">
					Legal
				</div>
				<a href="{{ "/privacy" | relURL }}">
					<div class="link">Your privacy matters</div>
				</a>
				<a href="{{ "/terms" | relURL }}">
					<div class="link">Terms and conditions</div>
				</a>
			</div>
		</div>
	</div>
</nav>
