<div class="navbar-wrapper">
	<nav class="navbar">
		<div class="brand">
			<a href="{{ "/" | relURL }}">
				<img src="{{ "/images/logo.svg" | relURL }}">
			</a>
		</div>
		<input type="checkbox" class="menu material-icons">
		<div class="links">
			<a href="{{ "/#features" | relURL }}">
				<div class="link">Features</div>
			</a>
			<a href="{{ "/enterprise" | relURL }}">
				<div class="link">Enterprise</div>
			</a>
			<a href="{{ "/get" | relURL }}">
				<div class="link button">Download</div>
			</a>
		</div>
	</nav>
</div>
